footer
  .footer-wrappper.section-bg(data-background='images/gallery/footer-bg.png')
    // Footer Start
    .footer-area.footer-padding
      .container
        .row.justify-content-between
          .col-xl-4.col-lg-5.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .single-footer-caption.mb-30
                // logo
                .footer-logo.mb-25
                  a(href='index.html')
                    img(src='images/logo/logo2_footer.png' alt='')
                .footer-tittle
                  .footer-pera
                    p The automated process starts as soon as your clothes go into the machine.
                // social
                .footer-social
                  a(href='#')
                    i.fab.fa-twitter
                  a(href='https://bit.ly/sai4ull')
                    i.fab.fa-facebook-f
                  a(href='#')
                    i.fab.fa-pinterest-p
          .col-xl-2.col-lg-3.col-md-4.col-sm-5
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Our solutions
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
          .col-xl-2.col-lg-3.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Company
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
          .col-xl-2.col-lg-4.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Support
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
    // footer-bottom area
    .footer-bottom-area
      .container
        .footer-border
          .row.d-flex.align-items-center
            .col-xl-12
              .footer-copy-right.text-center
                p
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  | Copyright &copy;
                  script.
                    document.write(new Date().getFullYear());
                  |  All rights reserved | This template is made with 
                  i.fa.fa-heart(aria-hidden='true')
                  |  by 
                  a(href='https://colorlib.com' target='_blank') Colorlib
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    // Footer End
// Scroll Up
#back-top
  a(title='Go to Top' href='#')
    i.fas.fa-level-up-alt