header
  // Header Start
  .header-area.header-transparent
    .main-header
      .header-bottom.header-sticky
        .container-fluid
          .row.align-items-center
            // Logo
            .col-xl-2.col-lg-2
              .logo
                a(href='/')
                  img(src='images/logo/logo.png' alt='')
            .col-xl-10.col-lg-10
              .menu-wrapper.d-flex.align-items-center.justify-content-end
                // Main-menu
                .main-menu.d-none.d-lg-block
                  nav
                    ul#navigation
                      li.active
                        a(href='/') Home
                      li
                        a(href='/features') Features
                      li
                        a(href='/about') About
                      li
                        a(href='/faq') FAQ
            // Mobile Menu
            .col-12
              .mobile_menu.d-block.d-lg-none
  // Header End
// header end