// JS here
script(src='javascripts/vendor/modernizr-3.5.0.min.js')
// Jquery, Popper, Bootstrap
script(src='javascripts/vendor/jquery-1.12.4.min.js')
script(src='javascripts/popper.min.js')
script(src='javascripts/bootstrap.min.js')
// Jquery Mobile Menu
script(src='javascripts/jquery.slicknav.min.js')
// Jquery Slick , Owl-Carousel Plugins
script(src='javascripts/owl.carousel.min.js')
script(src='javascripts/slick.min.js')
// One Page, Animated-HeadLin
script(src='javascripts/wow.min.js')
script(src='javascripts/animated.headline.js')
script(src='javascripts/jquery.magnific-popup.js')
// Date Picker
script(src='javascripts/gijgo.min.js')
// Nice-select, sticky
script(src='javascripts/jquery.nice-select.min.js')
script(src='javascripts/jquery.sticky.js')
// Progress
script(src='javascripts/jquery.barfiller.js')
// counter , waypoint,Hover Direction
script(src='javascripts/jquery.counterup.min.js')
script(src='javascripts/waypoints.min.js')
script(src='javascripts/jquery.countdown.min.js')
script(src='javascripts/hover-direction-snake.min.js')
// contact js
script(src='javascripts/contact.js')
script(src='javascripts/jquery.form.js')
script(src='javascripts/jquery.validate.min.js')
script(src='javascripts/mail-script.js')
script(src='javascripts/jquery.ajaxchimp.min.js')
// Jquery Plugins, main Jquery
script(src='javascripts/plugins.js')
script(src='javascripts/main.js')