doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title  #{title}
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='manifest' href='site.webmanifest')
  link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
  // CSS here
  link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet' href='stylesheets/owl.carousel.min.css')
  link(rel='stylesheet' href='stylesheets/slicknav.css')
  link(rel='stylesheet' href='stylesheets/flaticon.css')
  link(rel='stylesheet' href='stylesheets/progressbar_barfiller.css')
  link(rel='stylesheet' href='stylesheets/gijgo.css')
  link(rel='stylesheet' href='stylesheets/animate.min.css')
  link(rel='stylesheet' href='stylesheets/animated-headline.css')
  link(rel='stylesheet' href='stylesheets/magnific-popup.css')
  link(rel='stylesheet' href='stylesheets/fontawesome-all.min.css')
  link(rel='stylesheet' href='stylesheets/themify-icons.css')
  link(rel='stylesheet' href='stylesheets/slick.css')
  link(rel='stylesheet' href='stylesheets/nice-select.css')
  link(rel='stylesheet' href='stylesheets/style.css')
include includes/preloader

include includes/header

body
  block content
include includes/footer 

include includes/js
