extends ../layout

block content
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row.justify-content-center
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2.text-center
                  h1(data-animation='bounceIn', data-delay='0.2s') About us
    // ? About Area
    section.about-area2.section-padding40
      .container
        .row.align-items-center
          .col-xl-5.col-lg-6.col-md-12
            .about-caption.mb-50
              .about-icon
                img(src='images/icon/about.svg', alt='')
              // Section Tittle
              .section-tittle.mb-25
                h2 You have the power to personalize your website coding.
              p.mb-20
                | What if you could get all your website tasks off your plate and focus only on the fun stuff? Working with Growmodo allows you to scale your marketing and grow faster without becoming a designer or developer yourself.
              a.all-btn(href='/about') See how it work
          .col-xl-6.col-lg-6.col-md-9.col-sm-9
            // about-img
            .about-img
              img(src='images/gallery/about2.png', alt='')
    // About Area End
    // ? About Area
    section.about-area2.pb-bottom
      .container
        .row.align-items-center
          .col-xl-6.col-lg-5.col-md-9
            // about-img
            .about-img
              img(src='images/gallery/about1.png', alt='')
          .col-xl-5.col-lg-6.col-md-12
            .about-caption.mb-50
              .about-icon
                img(src='images/icon/about.svg', alt='')
              // Section Tittle
              .section-tittle.mb-25
                h2 Personalized experiences are proven to increase conversions
              p.mb-20
                | What if you could get all your website tasks off your plate and focus only on the fun stuff? Working with Growmodo allows you to scale your marketing and grow faster without becoming a designer or developer yourself.
              a.all-btn(href='/about') See how it work
    // About Area End
    // ? Brand Area Start
    .brand-area
      .container
        .brand-active.brand-border.pb-80
          .single-brand
            img(src='images/gallery/brand1.png', alt='')
          .single-brand
            img(src='images/gallery/brand2.png', alt='')
          .single-brand
            img(src='images/gallery/brand3.png', alt='')
          .single-brand
            img(src='images/gallery/brand4.png', alt='')
          .single-brand
            img(src='images/gallery/brand2.png', alt='')
          .single-brand
            img(src='images/gallery/brand5.png', alt='')
          .single-brand
            img(src='images/gallery/brand4.png', alt='')
          .single-brand
            img(src='images/gallery/brand4.png', alt='')
    // Brand Area End
    // ? video_start
    .video-area.section-bg2.d-flex.align-items-center(data-background='images/gallery/video-bg.svg')
      .container
        .video-wrap.position-relative
          // data-background="img/video_bg/video-img.png"
          // <div class="vidoe-img"><img class="img" src="images/gallery/video-bg.svg" alt=""></div>
          // Video icon
          .video-icon
            a.popup-video.btn-icon(href='https://www.youtube.com/watch?v=up68UAfH0d0')
              i.fas.fa-play
    // video_end
    // ? Testimonial Area Start
    section.testimonial-area.fix
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            // Section Tittle
            .section-tittle.text-center
              h2 Amazing customer review
              p
                | In the old days, your website was the same for everyone. Not anymore. Experiences lets you adapt your website for every audience.
        .testimonial-wrapper.section-bg2.pt-135(data-background='images/gallery/section_bg01.png')
          .row.align-items-center.justify-content-center
            .col-lg-8.col-md-12.col-sm-9
              .about-caption
                // Testimonial Start
                .h1-testimonial-active.dot-style
                  // Single Testimonial
                  .single-testimonial.text-center
                    .testimonial-caption
                      img.quotes-sign(src='images/icon/quotes-sign.png', alt='')
                      p
                        | Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls intended csents your se.
                    // founder
                    .testimonial-founder.d-flex.align-items-center.justify-content-center
                      .founder-text
                        span Robart Brown
                        p Creative designer at Colorlib
                  // Single Testimonial
                  .single-testimonial.text-center
                    .testimonial-caption
                      img.quotes-sign(src='images/icon/quotes-sign.png', alt='')
                      p | Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls intended csents your se.
                    .testimonial-founder.d-flex.align-items-center.justify-content-center
                      .founder-text
                        span Robart Brown
                        p Creative designer at Colorlib
                // Testimonial End
                // ? Testimonial Area End
    section.wantToWork-area
                  .container
                    .wants-wrapper.w-padding2.section-bg2(data-background='images/gallery/section_bg02.png')
                      .row.align-items-center.justify-content-center
                        .col-xl-7.col-lg-9.col-md-8
                          .wantToWork-caption.text-center
                            h2 Start finding your dream job
                            p
                              | The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes placeholder text commonly used.
                            a.btn3.wantToWork-btn(href='#') Browse Job            
