extends ../layout

block content
    main
    // ? slider Area Start
    section.slider-area.slider-area2
        .slider-active
        // Single Slider
        .single-slider.slider-height2
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-11.col-md-12
                        .hero__caption.hero__caption2.text-center
                            h1(data-animation='bounceIn', data-delay='0.2s') Frequently ask questions
    .faq-section.section-padding40
        .container
            .row.justify-content-center
                .col-lg-8
                    .section-tittle
                        h2 General queries
                    .collapse-wrapper
                        #accordionExample.accordion
                            // single-one
                            .card
                                #headingTwo.card-header
                                    h2.mb-0
                                        a.btn-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Starts the automated process.
                                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                    .card-body
                                        | The automated process starts as soon as
                                        | your clothes go into the machine. Duis cursus, mi
                                        | quis viverra ornare.
                            // single-two
                            .card
                                #headingOne.card-header
                                    h2.mb-0
                                        a.btn-link(href='#', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne') The automated process starts.
                                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                                    .card-body
                                        | The automated process starts as soon as
                                        | your clothes go into the machine. Duis cursus, mi
                                        | quis viverra ornare.
                            // single-three
                            .card
                                #headingThree.card-header
                                    h2.mb-0
                                        a.btn-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Automated process starts.
                                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                    .card-body
                                        | The automated process starts as soon as
                                        | your clothes go into the machine. Duis cursus, mi
                                        | quis viverra ornare.
                            // single-four
                            .card
                                #headingfouree.card-header
                                    h2.mb-0
                                        a.btn-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseFoure', aria-expanded='false', aria-controls='collapseFoure') Process the automated magic.
                                #collapseFoure.collapse(aria-labelledby='headingfouree', data-parent='#accordionExample')
                                    .card-body
                                        | The automated process starts as soon as
                                        | your clothes go into the machine. Duis cursus, mi
                                        | quis viverra ornare.
    // ? Want To work 01
    section.wantToWork-area
        .container
            .wants-wrapper.w-padding2.section-bg2(data-background='images/gallery/section_bg02.png')
                .row.align-items-center.justify-content-center
                    .col-xl-7.col-lg-9.col-md-8
                        .wantToWork-caption.text-center
                            h2 Start finding your dream job
                            p
                                | The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes placeholder text commonly used.
                            a.btn3.wantToWork-btn(href='#') Browse Job
    // Want To work End
