extends ../layout

block content
    main
        // ? slider Area Start
        section.slider-area.slider-area2
            .slider-active
            // Single Slider
            .single-slider.slider-height2
                .container
                    .row.justify-content-center
                        .col-xl-8.col-lg-11.col-md-12
                            .hero__caption.hero__caption2.text-center
                                h1(data-animation='bounceIn', data-delay='0.2s') Our amazing features
        // ? Our Services Start
        section.our-services
            .container
                .row.justify-content-center
                    .col-xl-7.col-lg-8
                        .section-tittle.text-center.mb-80
                            h2 Finally focus on my marketing strategy and delegate
                            p
                            | In the old days, your website was the same for everyone. Not anymore. Experiences lets you adapt your website for every audience.
                .row
                    .col-lg-4.col-md-6.col-sm-6
                        .single-services.mb-30
                            .services-ion
                                img(src='images/icon/services1.svg', alt='')
                            .services-cap
                                h5
                                    a(href='#') Design & creatives
                                p The automated process starts as soon as your clothes go into.
                    .col-lg-4.col-md-6.col-sm-6
                        .single-services.mb-30
                            .services-ion
                                img(src='images/icon/services2.svg', alt='')
                            .services-cap
                                h5
                                    a(href='#') Design & creatives
                                p The automated process starts as soon as your clothes go into.
                    .col-lg-4.col-md-6.col-sm-6
                        .single-services.mb-30
                            .services-ion
                                img(src='images/icon/services3.svg', alt='')
                            .services-cap
                                h5
                                    a(href='#') Design & creatives
                                p The automated process starts as soon as your clothes go into.
                    .col-lg-4.col-md-6.col-sm-6
                        .single-services.mb-30
                            .services-ion
                                img(src='images/icon/services4.svg', alt='')
                            .services-cap
                                h5
                                    a(href='#') Design & creatives
                                p The automated process starts as soon as your clothes go into.
                    .col-lg-4.col-md-6.col-sm-6
                        .single-services.mb-30
                            .services-ion
                                img(src='images/icon/services5.svg', alt='')
                            .services-cap
                                h5
                                    a(href='#') Design & creatives
                                p The automated process starts as soon as your clothes go into.
                    .col-lg-4.col-md-6.col-sm-6
                        .single-services.mb-30
                            .services-ion
                                img(src='images/icon/services6.svg', alt='')
                            .services-cap
                                h5
                                    a(href='#') Design & creatives
                                p The automated process starts as soon as your clothes go into.
        // Our Services End
        // ? Want To work 01
        section.wantToWork-area
            .container
                .wants-wrapper.w-padding2.section-bg2(data-background='images/gallery/section_bg02.png')
                    .row.align-items-center.justify-content-center
                        .col-xl-7.col-lg-9.col-md-8
                            .wantToWork-caption.text-center
                                h2 Start finding your dream job
                                p
                                    | The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes placeholder text commonly used.
                                a.btn3.wantToWork-btn(href='#') Browse Job
        // Want To work End
